<head>
	<style>
		body {
			padding-top: 50px;
		}
		.margin-base-vertical {
			margin: 40px 0;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1 class="text-center">Tasks!</h1>
					</br>
					<p class="text-center">
						Login/Sign Up In order to create lists of tasks!
					</p>
					<p class="text-center">
						Unlimited Lists & Tasks!
					</p>
					<p class="text-center">
						</br></br>
						<a href="/login" class="btn btn-success btn-lg"><span class="fa fa-user"></span> Local Login</a>
						<a href="/signup" class="btn btn-warning btn-lg"><span class="fa fa-user"></span> Local Signup</a>
						<a href="/logout" class="btn btn-danger btn-lg">Logout</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>